main{
    // background: dodgerblue;
    width: 100%;
    padding-bottom: 5rem;
}

.card{
        background: $white;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid $very-pale-cyan;
        border-radius: .7rem;
        display: flex;
        padding: 1.5rem 4rem;
        box-sizing: border-box;
        box-shadow: 0 0 6px 0 $grayish-blue;
        // gap: 0 15rem;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // flex: 0 0 60%;
        // padding-left: 25rem;
    }
    &__content:not(:last-of-type){
        margin-bottom: 2rem;
    }
    &__image{
        flex: 1 0 45%;
        margin: 0 0 0 8rem;

        &:nth-last-of-type(2n){
            margin: 0 8rem 0 0;
        }
        img{
            width: 100%;
        }
    }
}